<!DOCTYPE html>
<ion-view title="Terry Scholarship Application for Transfer Students 2015/2016">
    <ion-side-menus>
        <ion-side-menu-content>

            <ion-nav-bar class="bar-energized nav-title-slide-ios7">
                <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i>
                </ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view name="main_content"></ion-nav-view>

        </ion-side-menu-content>
        <ion-side-menu side="right">
            <ion-content>
                <ion-list>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.transfer_application.student_information">
                        I. Student Information
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.transfer_application.education">
                        II. Education
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.transfer_application.employment">
                        III. Employment
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.transfer_application.financial_information">
                        IV. Financial Information
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.transfer_application.personal_history">
                        V. Personal History
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.transfer_application.essay">
                        VI. Essay
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.transfer_application.signature">
                        VII. Signature
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.transfer_application.submit">
                        VII. Submission
                    </ion-item>
                </ion-list>
            </ion-content>

        </ion-side-menu>
    </ion-side-menus>

</ion-view>







