<!DOCTYPE html>
<ion-view title="Terry Scholarship Application for Freshman Students 2015/2016">
    <ion-side-menus>
      <ion-side-menu-content>

            <ion-nav-bar class="bar-energized nav-title-slide-ios7">
                <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i>
                </ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view name="main_content"></ion-nav-view>

        </ion-side-menu-content>
      <ion-side-menu side="right">
        <ion-content>
            <ion-list>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.application.student_information">
                        I. Student Information
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.application.highschool_information">
                        II. High School Information
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.application.highschool_coursework">
                        III. High School Coursework
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.application.employment">
                        IV. Employment
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.application.college_plans">
                        V. College Plans
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.application.financial_information">
                        VI. Financial Information
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.application.scholarship_information">
                        VII. University Scholarship Information
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.application.essays">
                        VIII. Essays
                    </ion-item>
                    <ion-item nav-clear menu-close ui-sref="tabs.applications.application.submit">
                        Submission
                    </ion-item>
            </ion-list>
        </ion-content>

      </ion-side-menu>
    </ion-side-menus>
      
</ion-view>
    
   
        
    

    

   