<!DOCTYPE html>
<ion-view title="Terry Scholarship Application 2015/2016">

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Education</h1>
    </ion-header-bar>
    <ion-content>

        <form class="submit" novalidate on-valid-submit="save('tabs.myapplication.highschool_coursework')">
            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">High School Last Attended:<span style="color: red;">*</span></span>

                        <input type="text" ng-model="myapplication.highschool_lastattended" placeholder="High School Last Attended">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">High School City/State:<span style="color: red;">*</span></span>

                        <input type="text" ng-model="myapplication.highschool_city" placeholder="City">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col col-50">

                    <label class="item">

                        <span class="input-label">High School Diploma<span style="color: red;">*</span></span>
                        <ion-radio name="highschool_diploma" ng-model="myapplication.highschool_diploma" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="highschool_diploma" ng-model="myapplication.highschool_diploma" ng-value="'false'">No</ion-radio>
                    </label>
                </div>

                <div class="col" ng-show="myapplication.highschool_diploma">
                    <label class="item item-input item-stacked-label validated" ng-click="openDatePicker('Date of Graduation', 'highschool_graduation_date')">
                        <span class="input-label">  If "YES", date of graduation<span style="color: red;">*</span></span>
                        <input type="text" ng-model="myapplication.highschool_graduation_date" placeholder="Select">
                    </label>
                </div>
            </div>

           <div class="row">
                <div class="col col-50">

                    <label class="item">

                        <span class="input-label">High School GED<span style="color: red;">*</span></span>
                        <ion-radio name="highschool_GED" ng-model="myapplication.highschool_GED" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="highschool_GED" ng-model="myapplication.highschool_GED" ng-value="'false'">No</ion-radio>
                    </label>
                </div>

                <div class="col" ng-show="myapplication.highschool_GED">
                    <label class="item item-input item-stacked-label validated" ng-click="openDatePicker('Date of Graduation', 'highschool_GEDawarded_date')">
                        <span class="input-label">  If "YES", date GED awarded<span style="color: red;">*</span></span>
                        <input type="text" ng-model="myapplication.highschool_GEDawarded_date" placeholder="Select">
                    </label>
                </div>
            </div>
           
<p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
            List all of your preiously attended institutions, both actual and online. Include the city and state in which the institution is located, your dates of attendance, your hours attempted and completed, and your cum gpa at the institution. List your recent attendace first.
        </p>
 <div class="item item-button-left dark">
            Institutions attended
            <span style="color: red;">*</span>
            <button title="Add Institution" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddInstitution"></button>
        </div>

        <div class="list list-inset">
            <div class="item" ng-repeat="institution in myinstitutions" item="institution">
                <button title="Delete institution" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteInstitution(institution.id)"></button>
                <button title="Edit institution" class="button button-icon icon ion-compose" ng-click="editInstitution(institution)">&nbsp;&nbsp;&nbsp;&nbsp;{{institution}} {{course.type}} {{course.credit_hours}} {{course.final_grade}}</button>
            </div>
        </div>
           
            
            
            
            
            
            
            
            
            
            
            
              
           
                

            <!-- Save/next button -->
            <div class="row">
                <div class="col col-25 col-offset-75">
                    <button type="submit" class="button button-block button-positive">Next</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>