<!DOCTYPE html>
<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{myVariables.current_mode}} Dependents</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <form novalidate class="submit" on-valid-submit="saveModal('dependents')">
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Name:</span>
                        <input name="name" ng-model="mydependents.name" type="text" placeholder="name">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Age:</span>
                        <input name="age" ng-model="mydependents.age" type="number" placeholder="age in years">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Relationship:</span>
                        <input name="relationship" ng-model="mydependents.relationship" type="text" placeholder="relationship">
                    </label>
                </div>
            </div>
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Year in College:</span>
                        <input name="year" ng-model="mydependents.year" type="text" placeholder="year">
                    </label>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Reside with you?</span>
                        <ion-radio name="reside_withyou" ng-model="mydependents.reside_withyou" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="reside_withyou" ng-model="mydependents.reside_withyou" ng-value="'false'">No</ion-radio>
                    </label>
                </div>
            </div>
            
            <div class="row">
                <div class="col col-25 col-offset-75">
                    <button class="button button-full button-positive" type="submit">Save</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>