<!DOCTYPE html>
<!-- 
  Registration page.
-->
<ion-view title="Register for the Terry Application System">
    <ion-content padding="true">
        
        <div id="desktop_form" class="list card">
        <div class="item item-body">
            <p>
                Welcome to the Online Application System for the Terry Scholarship Application at the University of Houston.
                If you have not created an account for our system, please create one by filling in the following form:
            </p>

       <form name="registerform" class="submit" novalidate on-valid-submit="registerUser()">

            <div class="list list-inset">
                <label class="item item-input validated">
                    <input name="username" type="email" ng-model="register.username" placeholder="Email" required>
                </label>
                <div class="item item-icon-left" ng-show="registerform.username.$error.email">
                    <i class="icon ion-alert-circled error"></i>
                    <span>Please enter a valid email address.</span>
                </div>
                <label class="item item-input validated">
                    <input name="firstName" type="text" ng-model="register.firstName" placeholder="First Name" required>
                </label>

                <label class="item item-input validated">
                    <input name="lastName" type="text" ng-model="register.lastName" placeholder="Last Name" required>
                </label>

                <label class="item item-input validated">
                    <input name="password" type="password" ng-model="password.password" placeholder="Password" minlength="8" required>
                </label>
                <div class="item item-icon-left" ng-show="registerform.username.$error.minlength">
                    <i class="icon ion-alert-circled error"></i>
                    <span>Password has a minimum length of 8!</span>
                </div>
                
                <label class="item item-input validated">
                    <input name="confirmed" type="password" ng-model="password.confirm" placeholder="Confirm Password" required>
                </label>
            </div>
            <div>
                <button type="submit" class="button button-block button-positive">Register</button>
            </div>
        </form>
            </div>
    </ion-content>
</ion-view>