<!DOCTYPE html>
<ion-view title="Honors College Terry Application 2015/2016"> 
    <ion-content padding="true">
        <h1>Login</h1>

        <form class="submit" ng-submit="submit()">

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="signin.userName" name="userName" placeholder="EMAIL">
                </label>
                <label class="item item-input">
                    <input type="password" ng-model="signin.passWord" name="passWord" placeholder="PASSWORD">
                </label>
            </div>
            <div>
                <button type="submit" class="button button-block button-positive">Submit</button>
            </div>
        </form>
        <a class="button button-icon icon ion-asterisk" ui-sref="register"> REGISTER HERE</a>
        <p>If you encounter Problems with this page, please make sure you have reloaded the page in your browser.</p>
        <p>For technical problems with the site please contact Peggy Lindner <a href="mailto:plindner@uh.edu?Subject=Terry%20Application" target="_top">
plindner@uh.edu</a>. 
        </p>
        <p>For additional information about the Terry Foundation Scholarship at the University of Houston please contact Franco Martinez <a href="mailto:fsmartinez@uh.edu?Subject=Terry%20Application" target="_top">
fsmartinez@uh.edu</a>.</p>

    </ion-content>
</ion-view>