<!DOCTYPE html>
<!-- 
  Essay upload page page.
-->
<ion-view title="Terry Scholarship Application 2015/2016">

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">SIGNATURE</h1>
    </ion-header-bar>
    <ion-content>
        <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
            <strong>I certify that the information I am providing is complete and correct to the best of my knowledge. If my application is accepted, I agree to abide by the policies,rules and regulations of the Terry Foundation. I authorize the University of Houston and/or the Terry Foundation to verify the information I have provided. I further understand that this informationwill be relied upon by the Terry Foundation in determining my financial eligibility and that the submission of false information is grounds for rejection of my application, and/or withdrawal of an offer of scholarship.</strong> 
        </p>

        <div class="row">
            <div class="col col-50">
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">Applicant's Signature:<span style="color: red;">*</span></span>
                    <input name="applicant_signature" type="text" ng-model="myapplication.applicant_signature" placeholder="Signature" ng-required="finalSubmit">
                </label>
            </div>
            <div class="col col-50">
                <label class="item item-input item-stacked-label validated" ng-click="openDatePicker('Date of Signature', 'dos')">
                    <span class="input-label">Date:<span style="color: red;">*</span></span>
                    <input type="text" ng-model="myapplication.dos" placeholder="Select" ng-required="finalSubmit">
                </label>
            </div>
        </div>

        <ion-list>
            <ion-item class="item item-divider">
                YOUR SIGNATURE IS REQUIRED TO PROCESS YOUR APPLICATION
            </ion-item>
        </ion-list>

        <div class="card">

            <div class="item item-text-wrap">
                <strong> A complete application includes:</strong> 

                <br>Transfer/Non-Traditional Terry Scholarship Application</br>
                <br>250-1000 Word Typed Essay</br>
                <br>Personal or Professional Resume</br>
                <br>Copies of 2014 Tax Returns</br>
                <br>2 letters of recommendation</br>
                <br>Official Transcripts from all previously attended institutions</br>
            </div>

            <div class="item item-text-wrap">
                <strong> Please submit your application and all supporting materials to:</strong>

                <br>Jodie Koszegi, Assistant Dean</br>
                <br>The Honors College at the University of Houston</br>
                <br>212 MD Anderson Library</br>
                <br>University of Houston</br>
                <br>Houston, Tx 77204-2001</br>

            </div>
        </div>


        <!-- Submit button -->
        <div class="row">
            <div class="col col-25 col-offset-75">
                <button type="submit" class="button button-block button-positive" ui-sref="tabs.myapplication.submit">Next</button>
            </div>
        </div>
        </form>
    </ion-content>
</ion-view>

