<!DOCTYPE html>
<ion-view title="Guidelines for University of Houston Nominees">
    <!-- The nav bar -->
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
            Back
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true">
        <h3>Qualifications</h3>
        <p>To be considered for the Terry Foundation Scholarship, students must demonstrate the following:</p>

        <div id="list">
            <ul>
                <li>financial need</li>
                <li>a record of leadership in school and community</li>
                <li>strong academic abilities, as evidenced by grades and SAT/ACT scores</li>
                <li>be a 2015 graduate from a Texas high school or a Texas homeschool</li>
                <li>admission to the University of Houston as a full-time student for 2015-2016</li>
                <li>reside on campus for the first year</li>
                <li>Meet U.S. and Texas residency and citizenship requirements sufficient to qualify:
                    <br>(a) for in-state tuition at a public university in the State of Texas
                    <br>(b) to receive state and federal financial assistance
            </ul>
        </div>


        <h3>Application Summary and Deadlines</h3>

        <h4>Please submit all application materials at the same time.</h4>

        <div id="list">
            <ul>
                <li>Apply and be accepted to the University of Houston <b>no later than January 30<sup>th</sup></b>.</li>
                <li>Submit your completed Terry application, together with supplementary materials, <b>by January 30<sup>th</sup></b>. Applications and supporting materials sent via mail must be postmarked <b>no later than January 29<sup>th</sup></b>.</li>
                <li>Include a sealed official copy of your high school transcript (this should be <b>in addition to </b>any transcript previously sent to the University of Houston or The Honors College)</li>
                <li>Include <b>two (2)</b> letters of recommendation in sealed envelopes in addition to your completed Terry application. At least one of your letters should be written by one of your core subject teachers (English, math, history, science, language). Both letters should speak to your academic and leadership abilities.</li>
                <li>File a <b>FAFSA</b>, either on-line or via US mail <b>between January 1<sup>st</sup> and February 20<sup>th</b>
                    </sup>.</li>
                <li>If you are selected as a nominee, apply for on-campus housing <b>between April 10<sup>th</sup> and 17<sup>th</sup></b>. On-campus housing for Terry Scholars is defined as Honors housing in Cougar Village (visit the UH Residence Halls on-line at <a href="http://housing.uh.edu/housing" target="_blank">http://housing.uh.edu/housing</a> for more information). <b> No exceptions will be granted to Terry Scholars who request to live off-campus during the first year. </b>
                </li>


            </ul>
        </div>

        <h3>Application Summary and Deadlines</h3>

        <p>Following review of all completed applications received, the University of Houston will nominate 44 students for the Terry Foundation Scholarship; from this number the Foundation can choose to award at least 16 scholarships for use during the 2015-2016 academic year. <b> Please know that the University of Houston serves as a nominating body only; all final decisions regarding scholarship awards are made by the Terry Foundation.</b> Additional information about the Terry Foundation Scholarship is available at <a href="http://www.terryfoundation.org/" target="_blank">www.terryfoundation.org</a>.</p>

        
<h3>Completing Your Application</h3>
        <p>Submit your completed Terry Scholarship application online at <a href="http://www.thehonorscollege.com/terry" target="_blank">www.thehonorscollege.com/terry </a>and mail your supporting documents (transcripts, letters of recommendation, and resumes) to:</p>
        
        <p style="text-align:center; font-weight: bold;">Franco Martinez <br>
UH Terry Scholarship Coordinator<br>
The Honors College <br>
University of Houston <br>
212 MD Anderson Library <br>
Houston, TX  77204-2001 <br>
</p>
        
        <h3>Questions? </h3> 
Contact Franco Martinez, Academic Advisor for The Honors College (
        
        <a href="mailto:fsmartinez@uh.edu?Subject=Terry%20Application%202015" target="_top">
fsmartinez@uh.edu</a>).  
        
        <p style="text-align:center; font-weight: bold;"><br>Your application and all supporting documents must be received 
no later than January 30<sup>th</sup>, 2015 at 7:00 pm CST for nomination consideration. </p> 



    </ion-content>
</ion-view>