<!DOCTYPE html>
<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{myVariables.current_modal_mode}} Awards</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>

        <form name="award" novalidate class="submit" on-valid-submit="saveModal('award')">


            <p class="item item-icon-left item-text-wrap">
                <i class="icon ion-information"></i>
                <b>In order of importance to you</b>, list up to six major awards, honors, or distinctions that you received both in and out of school during grades 9-12.</p>

            <div class="row">
                <div class="col">
                    <label class="item item-input validated">
                        <span class="input-label">Award/Distinction/Honor:<span style="color: red;">*</span></span>
                        <input name="award" ng-model="lists.award.award" type="text" placeholder="award" ng-maxlength="100" required>
                    </label>
                    <div class="item item-icon-left" ng-show="award.award.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 100 characters allowed</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input validated">
                        <span class="input-label">Description or Basis for <br>Award or Sponsor of Award:<span style="color: red;">*</span></span>
                        <input name="description" ng-model="lists.award.description" type="text" placeholder="description" ng-maxlength="100" required>
                    </label>
                    <div class="item item-icon-left" ng-show="award.description.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 100 characters allowed</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input validated">
                        <span class="input-label">Level of Competition <br>[regional, state etc.]:<span style="color: red;">*</span></span>
                        <input name="level" ng-model="lists.award.level" type="text" placeholder="level" required>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="item item-divider">Year(s) Received<span style="color: red;">*</span></div>
                    <ion-checkbox ng-repeat="item in yearInSchoolList" ng-model="item.checked" ng-checked="item.checked">
                        {{ item.text }}
                    </ion-checkbox>
                </div>
            </div>

            <div class="row">
                <div class="col col-25 col-offset-75">
                    <button class="button button-full button-positive" type="submit">Save</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>