<!DOCTYPE html>
<ion-view>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Education</h1>
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-header-bar>

    <ion-content>
        <form name="education" class="submit" novalidate on-valid-submit="save()">
            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">High School Last Attended:<span style="color: red;">*</span></span>
                        <input name="highschool_name" type="text" ng-model="myapplication.highschool_name" placeholder="High School Last Attended" ng-maxlength="100">
                    </label>
                    <div class="item item-icon-left" ng-show="education.highschool_name.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 100 characters allowed</span>
                    </div>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">High School City/State:<span style="color: red;">*</span></span>
                        <input name="highschool_city" type="text" ng-model="myapplication.highschool_city" ng-maxlength="100" placeholder="City">
                        <div class="item item-icon-left" ng-show="education.highschool_city.$error.maxlength">
                            <i class="icon ion-alert-circled error"></i>
                            <span>Max 100 characters allowed</span>
                        </div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col col-50">
                    <label class="item">
                        <span class="input-label">High School Diploma<span style="color: red;">*</span></span>
                        <ion-radio name="highschool_diploma" ng-model="myapplication.highschool_diploma" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="highschool_diploma" ng-model="myapplication.highschool_diploma" ng-value="'false'">No</ion-radio>
                    </label>
                </div>

                <div class="col" ng-show="myapplication.highschool_diploma">
                    <label class="item item-input item-stacked-label validated" ng-click="openDatePicker('Date of Graduation', 'highschool_graduation_date')">
                        <span class="input-label">If "YES", date of graduation<span style="color: red;">*</span></span>
                        <input type="text" ng-model="myapplication.highschool_graduation_date" placeholder="Select">

                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col col-50">
                    <label class="item">
                        <span class="input-label">High School GED<span style="color: red;">*</span></span>
                        <ion-radio name="highschool_ged" ng-model="myapplication.highschool_ged" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="highschool_ged" ng-model="myapplication.highschool_ged" ng-value="'false'">No</ion-radio>
                    </label>
                </div>

                <div class="col" ng-show="myapplication.highschool_ged">
                    <label class="item item-input item-stacked-label validated" ng-click="openDatePicker('Date of Graduation', 'highschool_GEDawarded_date')">
                        <span class="input-label">If "YES", date GED awarded<span style="color: red;">*</span></span>
                        <input type="text" ng-model="myapplication.highschool_GEDawarded_date" placeholder="Select">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">If currently enrolled, hours in progress:<span style="color: red;">*</span></span>
                        <input name="college_hours_progress" type="text" ng-model="myapplication.college_hours_progress" placeholder="Hours in progress" ng-maxlength="100">
                    </label>
                    <div class="item item-icon-left" ng-show="education.college_hours_progress.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 100 characters allowed</span>
                    </div>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Current cum gpa:<span style="color: red;">*</span></span>
                        <input name="cum_gpa" type="number" ng-model="myapplication.cum_gpa"  placeholder="gpa">
                        <div class="item item-icon-left" ng-show="education.cum_gpa.$error.number">
                            <i class="icon ion-alert-circled error"></i>
                            <span>This should be a number</span>
                        </div>
                    </label>
                </div>
            </div>

            <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
                List all of your previously attended institutions, both actual and online. Include the city and state in which the institution is located, your dates of attendance, your hours attempted and completed, and your cum gpa at the institution. List your recent attendace first.
            </p>
            <div class="item item-button-left dark">
                Institutions attended
                <span style="color: red;">*</span>
                <button type="button" title="Add Institution" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('institution')"></button>
            </div>

            <div class="list">
                <div class="item" ng-repeat="item in listings.institution" item="item">
                    <button type="button" title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('institution', item.id)"></button>
                    <button type="button" title="Edit" class="button button-icon icon ion-compose" ng-click="editData('institution', item)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name: {{item.name}} City: {{item.city}} Cumulative GPA: {{item.cum_gpa}}</button>
                </div>
            </div>

            <div class="row">
                <div class="col col-50">
                    <label class="item">
                        <span class="input-label">Are you a member of Phi Theta Kappa?<span style="color: red;">*</span></span>
                        <ion-radio name="phithetakappa_member" ng-model="myapplication.highschool_ptk_member" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="phithetakappa_member" ng-model="myapplication.highschool_ptk_member" ng-value="'false'">No</ion-radio>
                    </label>
                </div>

                <div class="col" ng-show="myapplication.highschool_ptk_member">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">  If "YES", semester of induction:<span style="color: red;">*</span></span>
                        <input type="text" ng-model="myapplication.induction_semester" placeholder="Semester of Induction">
                    </label>
                </div>
            </div>

            <!-- Next/Save button -->
            <div class="row">
                <div class="col col-25 col-offset-50">
                    <button type="submit" class="button button-block button-positive">Save to Server</button>
                </div>
                <div class="col col-25">
                    <button type="button" class="button button-block button-positive" ng-click="next()">Next</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>