<!DOCTYPE html>
<ion-view>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Employment, Activities, Service and Awards</h1>
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-header-bar>

    <ion-content>
        <form name="employment" class="submit" novalidate on-valid-submit="save()">
            <div class="row">
                <div class="col">
                    <p><b>EMPLOYMENT</b>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item">
                        <span class="input-label">Are you currently employed?<span style="color: red;">*</span></span>
                        <ion-radio name="currently_employed" ng-model="myapplication.currently_employed" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="currently_employed" ng-model="myapplication.currently_employed" ng-value="'false'">No</ion-radio>
                    </label>
                </div>
            </div>

            <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
                List <b>all</b> of your current and previous employers since high school. Include your job title, your employer’s name, how many hours per week you worked, and the dates of employment. <b>List your most recent employment first.</b>
            </p>

            <div class="item item-button-left dark">
                Employment
                <span style="color: red;">*</span>
                <button type="button" title="Add employment" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('employment')"></button>
            </div>

            <div class="list">
                <div class="item" ng-repeat="item in listings.employment" item="item">
                    <button type="button" title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('employment', item.id)"></button>
                    <button type="button" title="Edit" class="button button-icon icon ion-compose" ng-click="editData('employment', item)">&nbsp;&nbsp;&nbsp;&nbsp;Position: {{item.position}} at: {{item.employer}} {{item.hours}} hours Date: {{item.date_from}} - {{item.date_to}}</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p><b>MILITARY SERVICE </b>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col col-50">
                    <label class="item">
                        <span class="input-label">Are you currently serving in the Reserves or the National Gaurd?<span style="color: red;">*</span></span>
                        <ion-radio name="currently_serving" ng-model="myapplication.currently_serving" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="currently_serving" ng-model="myapplication.currently_serving" ng-value="'false'">No</ion-radio>
                    </label>
                </div>

                <div class="col" ng-show="myapplication.currently_serving">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">  If "YES", please provide unit and location:<span style="color: red;">*</span></span>
                        <input type="text" ng-model="myapplication.unit_location" placeholder="Unit and Location">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item">
                        <span class="input-label">Have you previously served on active duty in a uniformed service of the United States?<span style="color: red;">*</span></span>
                        <ion-radio name="previously_served" ng-model="myapplication.previously_served" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="previously_served" ng-model="myapplication.previously_served" ng-value="'false'">No</ion-radio>
                    </label>
                </div>
            </div>

            <div class="item item-button-left dark" ng-show="myapplication.previously_served">
                If you answered "YES" to the prevoius question, please list your services.
                <span style="color: red;">*</span>
                <button type="button" title="Add military service" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('military')"></button>
            </div>

            <div class="list">
                <div class="item" ng-repeat="item in listings.military" item="item">
                    <button type="button" title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('military', item.id)"></button>
                    <button  type="button" title="Edit" class="button button-icon icon ion-compose" ng-click="editData('military', item)">&nbsp;&nbsp;&nbsp;&nbsp; Service Branch: {{item.branch}} {{item.service_dates}} {{item.status}} Current Status: {{item.status}} Locations: {{item.locations}}</button>
                </div>
            </div>

            <div class="row" ng-show="myapplication.previously_served">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">List all Military Occupation Specialities (MOS) attained (max. 300 characters):<span style="color: red;">*</span></span>
                        <textarea name="mos" rows="4" maxlength="300" ng-model="myapplication.mos" placeholder="description"></textarea>
                    </label>
                </div>
            </div>

            <div class="row" ng-show="myapplication.previously_served">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Additional specialized training received (max. 200 characters):<span style="color: red;">*</span></span>
                        <textarea name="additional_specialized_training" rows="3" maxlength="200" ng-model="myapplication.additional_specialized_training" placeholder="description"></textarea>
                    </label>
                </div>
            </div>

            <div class="row" ng-show="myapplication.previously_served">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">List all medals,honors and awards received (max. 300 characters):<span style="color: red;">*</span></span>
                        <textarea name="medals" rows="4" maxlength="300" ng-model="myapplication.medals" placeholder="description"></textarea>
                    </label>
                </div>
            </div>

            <div class="row" ng-show="myapplication.previously_served">
                <div class="col ">
                    <label class="item">
                        <span class="input-label">If you are a Wounded Warrior, please indicate:<span style="color: red;">*</span></span>
                        <ion-radio name="wounded_warrior" ng-model="myapplication.wounded_warrior" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="wounded_warrior" ng-model="myapplication.wounded_warrior" ng-value="'false'">No</ion-radio>
                    </label>
                </div>
            </div>

            <div class="row" ng-show="myapplication.previously_served">
                <div class="col col-50">
                    <label class="item">
                        <span class="input-label">Have you previously utilized GI Bill education benefits?<span style="color: red;">*</span></span>
                        <ion-radio name="education_benefits" ng-model="myapplication.education_benefits" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="education_benefits" ng-model="myapplication.education_benefits" ng-value="'false'">No</ion-radio>
                    </label>
                </div>

                <div class="col" ng-show="myapplication.education_benefits">
                    <label class="item">
                        <div class="item-text-wrap">If "YES", do you have any GI bill education benefits remaining?<span style="color: red;">*</span></div>
                        <ion-radio name="education_benefits_remaining" ng-model="myapplication.education_benefits_remaining" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="education_benefits_remaining" ng-model="myapplication.education_benefits_remaining" ng-value="'false'">No</ion-radio>
                    </label>
                </div>
            </div>

            <div class="row" ng-show="myapplication.previously_served">
                <div class="col" ng-show="myapplication.education_benefits_remaining">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">  If "YES", provide details:<span style="color: red;">*</span></span>
                        <input type="text" ng-model="myapplication.details_gibill" placeholder="details">
                    </label>
                </div>
            </div>

            <div class="row" ng-show="myapplication.previously_served">
                <div class="col col-50">
                    <label class="item">
                        <span class="input-label">Are you entitled to Hazlewood Act benefits?<span style="color: red;">*</span></span>
                        <ion-radio name="hazlewood_act_benefits" ng-model="myapplication.hazlewood_act_benefits" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="hazlewood_act_benefits" ng-model="myapplication.hazlewood_act_benefits" ng-value="'false'">No</ion-radio>
                    </label>
                </div>

                <div class="col" ng-show="myapplication.hazlewood_act_benefits">
                    <label class="item">
                        <div class="item-text-wrap">If "YES", do you have any Hazlewood act benefits remaining?<span style="color: red;">*</span></div>
                        <ion-radio name="hazlewood_act_benefits_remaining" ng-model="myapplication.hazlewood_act_benefits_remaining" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="hazlewood_act_benefits_remaining" ng-model="myapplication.hazlewood_act_benefits_remaining" ng-value="'false'">No</ion-radio>
                    </label>
                </div>
            </div>

            <div class="row" ng-show="myapplication.previously_served">
                <div class="col" ng-show="myapplication.hazlewood_act_benefits_remaining">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">  If you answered "YES" to the prevoius question, please provide details:<span style="color: red;">*</span></span>
                        <input type="text" ng-model="myapplication.details_hazlewoodact" placeholder="details">
                    </label>
                </div>
            </div>

            <div class="item item-button-left dark">
                Leadership Activities
                <span style="color: red;">*</span>
                <button type="button" title="Add activities" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('transfer_activity')"></button>
            </div>

            <div class="list">
                <div class="item" ng-repeat="item in listings.transfer_activity" item="item">
                    <button type="button" title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('transfer_activity', item.id)"></button>
                    <button type="button" title="Edit" class="button button-icon icon ion-compose" ng-click="editData('transfer_activity', item)">&nbsp;&nbsp;&nbsp;&nbsp;{{item.activity}} as {{item.position}} {{item.hours_total}} total hours Date: {{item.date_from}} - {{item.date_to}}</button>
                </div>
            </div>

            <div class="item item-button-left dark">
                Church, Community and Volunteer Service
                <span style="color: red;">*</span>
                <button type="button" title="Add services" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('volunteer')"></button>
            </div>

            <div class="list">
                <div class="item" ng-repeat="item in listings.volunteer" item="item">
                    <button type="button" title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('volunteer', item.id)"></button>
                    <button type="button" title="Edit" class="button button-icon icon ion-compose" ng-click="editData('volunteer', item)">&nbsp;&nbsp;&nbsp;&nbsp;{{item.place}} {{item.description}} {{item.hours_week}} Hours per week/{{item.hours_total}} Hours total Date: {{item.date_from}}-{{item.date_to}}</button>
                </div>
            </div>

            <div class="item item-button-left dark">
                Awards, Special Honors, and Distinctions
                <span style="color: red;">*</span>
                <button type="button" title="Add award" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('award')"></button>
            </div>

            <div class="list">
                <div class="item" ng-repeat="item in listings.award" item="item">
                    <button type="button" title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('award', item.id)"></button>
                    <button type="button" title="Edit" class="button button-icon icon ion-compose" ng-click="editData('award', item)">&nbsp;&nbsp;&nbsp;&nbsp; Award: {{item.award}} {{item.description}} Level: {{item.level}}</button>
                </div>
            </div>

            <!-- Next/Save button -->
            <div class="row">
                <div class="col col-25 col-offset-50">
                    <button type="submit" class="button button-block button-positive">Save to Server</button>
                </div>
                <div class="col col-25">
                    <button type="button" class="button button-block button-positive" ng-click="next()">Next</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>