<!DOCTYPE html>
<ion-view>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Submit Your Application</h1>
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-header-bar>
    <ion-content>

        <div class="item item-divider">APPLICATION DEADLINES</div>
        <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
            You must complete this area prior to submitting your Terry application.
        </p>
        <form name="submitform" novalidate class="submit" on-valid-submit="checkTransferApp()">

            <div class="row">

                <div class="col col-25 item item-text-wrap">
                    <h2>Application Component</h2> 
                </div>
                <div class="col item item-text-wrap">
                    <h2>Deadline</h2> 
                </div>
                <div class="col item item-text-wrap">
                    <h2>Method of application</h2> (online or US mail)
                </div>
                <div class="col item item-text-wrap">
                    <h2>Date Submitted</h2> 
                </div>
                <div class="col item item-text-wrap">
                    <h2>If not, anticipated date of submission</h2> 
                </div>
            </div>
            <div class="row">
                <div class="col col-25 item item-text-wrap">
                    <p>Apply and be accepted to the University of Houston AND The Honors College<span style="color: red;">*</span></p>
                </div>
                <div class="col item item-text-wrap">
                    <p> <b>No later than March 31st. </b> 
                    </p>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <span class="input-label">Method:<span style="color: red;">*</span></span>
                        <select ng-model="myVariables.app_uh_method" ng-options="option.name for option in mail_options">
                        </select>
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Submission Date','app_uh_date_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.app_uh_date_sub" placeholder="Select">
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Anticipated Submission Date','app_uh_date_int_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.app_uh_date_int_sub" placeholder="Select">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col col-25 item item-text-wrap">
                    <p>File a FAFSA, either on-line or via US mail <a href="http://www.fafsa.ed.gov/ " target="_blank">http://www.fafsa.ed.gov/<span style="color: red;">*</span></a>
                    </p>
                </div>
                <div class="col item item-text-wrap">
                    <p> <b>Between January 1st and March 30th,2015. </b> 
                    </p>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <span class="input-label">Method:<span style="color: red;">*</span></span>
                        <select ng-model="myVariables.fafsa_method" ng-options="option.name for option in mail_options">
                    </select>
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Submission Date','fafsa_date_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.fafsa_date_sub" placeholder="Select">
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Anticipated Submission Date','fafsa_date_int_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.fafsa_date_int_sub" placeholder="Select">
                    </label>
                </div>
            </div>
            
            <div class="row">
                <div class="col col-25 item item-text-wrap">
                    <p>Submit your completed Terry application, essays, copies of 2014 tax returns, resume and letters of recommendation. Include sealed official copies of all college transcripts in addition to any transcript sent to UH or The Honors College<span style="color: red;">*</span></p>
                </div>
                <div class="col item item-text-wrap">
                    <p> <b>No later than March 31st;</b> all applications sent by mail must be <b>postmarked no later than March 30th.  </b>
                    </p>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <span class="input-label">Method:<span style="color: red;">*</span></span>
                        <select ng-model="myVariables.transcript_method" ng-options="option.name for option in mail_options">
                    </select>
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Submission Date','transcript_date_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.transcript_date_sub" placeholder="Select">
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Anticipated Submission Date','transcript_date_int_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.transcript_date_int_sub" placeholder="Select">
                    </label>
                </div>
            </div>
            
            <div class="row">
                <div class="col col-25 item item-text-wrap">
                    <p>Register for a New Student Orientation(NSO) with the University of Houston Office of Admissions <a href="http://www.uh.edu/admissions/admitted/conferences/index.php" target="_blank">http://www.uh.edu/admissions/admitted/conferences/index.php</a>. <span style="color: red;">*</span></p>
                </div>
                <div class="col item item-text-wrap">
                    <p> <b>Between February 15th and May 1st 2015.   </b>
                    </p>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <span class="input-label">Method:<span style="color: red;">*</span></span>
                        <select ng-model="myVariables.housing_method" ng-options="option.name for option in mail_options">
                        </select>
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Submission Date','housing_date_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.housing_date_sub" placeholder="Select">
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Anticipated Submission Date','housing_date_int_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.housing_date_int_sub" placeholder="Select">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-25 col-offset-50">
                    <button type="button" class="button button-block button-positive" ng-click="save()">Save to Server</button>
                </div>
                <div class="col col-25">
                    <button class="button button-full button-positive" type="submit">Check Application</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>