<ion-view title="Terry Scholarship Application 2015/2016">

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-content>
        <div class="bar bar-header bar-light">
            <h1 class="title">Employment, Activities, Service and Awards</h1>
        </div>

        <div class="list">
            <p class="item item-icon-left">
                <i class="icon ion-information"></i>
                
            </p>
            <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
                Fill all sections provided. Use the "Add" button in each section to add individual items. Do not submit a resume in lieu of completing sections listed here. <b>Important:</b> If you are a recruited athlete, DO NOT include any information about your athletic participation or achievements on this application.
            </p>
            <div class="item item-divider">
                Employment, Internships, and Summer Activities
                <button class="button button-icon icon ion-plus-circled" ng-click="showAddData(1)">Add</button>
            </div>
        
            <div class="item" ng-repeat="item in mydata" item="item">
                <button title="Delete" class="button button-icon icon ion-minus-circled" ng-click="deleteData(item.id, 1)"></button>
                <button title="Edit" class="button button-icon icon ion-compose" ng-click="editData(item, 1)">&nbsp;&nbsp;&nbsp;&nbsp;{{item.position}} {{item.date_from}} - {{item.date_to}}</button>
            </div>
        </div>

        <div class="list">
            <div class="item item-divider">
                Extracurricular Activities and Leadership Positions
                <button class="button button-icon icon ion-plus-circled" ng-click="showAddData(2)">Add</button>
            </div>
            
            <div class="item" ng-repeat="item in myactivities" item="item">
                <button title="Delete" class="button button-icon icon ion-minus-circled" ng-click="deleteData(item.id, 2)"></button>
                <button title="Edit" class="button button-icon icon ion-compose" ng-click="editData(item, 2)">&nbsp;&nbsp;&nbsp;&nbsp;{{item.organization}} {{item.position}} {{item.description}}</button>
            </div>
        </div>

        <div class="list">
            <div class="item item-divider">
                Community or Volunteer Service
                <button class="button button-icon icon ion-plus-circled" ng-click="showAddData(3)">Add</button>
            </div>
        

        <div class="list">
            <div class="item" ng-repeat="item in myvolunteers" item="item">
                <button title="Delete" class="button button-icon icon ion-minus-circled" ng-click="deleteData(item.id, 3)"></button>
                <button title="Edit" class="button button-icon icon ion-compose" ng-click="editData(item, 3)">&nbsp;&nbsp;&nbsp;&nbsp;{{item.place}} {{item.date_from}}-{{item.date_to}}</button>
            </div>
        </div>



        <div class="list">
            <div class="item item-divider">
                Awards, Special Honors, and Distinctions
                <button class="button button-icon icon ion-plus-circled" ng-click="showAddData(4)">Add</button>
            </div>
            
        <div class="list">
            <div class="item" ng-repeat="item in myawards" item="item">
                <button title="Delete" class="button button-icon icon ion-minus-circled" ng-click="deleteData(item.id, 4)"></button>
                <button title="Edit" class="button button-icon icon ion-compose" ng-click="editData(item, 4)">&nbsp;&nbsp;&nbsp;&nbsp;{{item.award}} </button>
            </div>
        </div>

        <!-- Next button -->
        <div class="row">
            <div class="col col-25 col-offset-75">
                <a type="button" class="button button-block button-positive" ui-sref="tabs.myapplication.college_plans">Next</a>
            </div>
        </div>
    </ion-content>
</ion-view>