<ion-view title="Terry Scholarship Application 2015/2016"> 

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round"
                ng-click="toggleRight()" ></button>
    </ion-nav-buttons>

    <ion-content padding="true">
        <h3>Employment, Activities, Service and Awards</h3>
        <p>
                Fill all sections provided.  Do not submit a resume in lieu of completing sections listed here.  Important:  If you are a recruited athlete, DO NOT include any information about your athletic participation or achievements on this application.
            </p>
        <h4 class="really">Employment, Internships, and Summer Activities</h4>
                <button class="button button-icon icon ion-plus-circled"
                        ng-click="showAddData(1)"> Add</button>

        <div class="list">
            <div class="item" ng-repeat="item in mydata" 
                 item="item"
                 >
                <button title="Delete" class="button button-icon icon ion-minus-circled"
                        ng-click="deleteData(item.id, 1)"></button>
                <button title="Edit" class="button button-icon icon ion-compose"
                        ng-click="editData(item, 1)"> &nbsp;&nbsp;&nbsp;&nbsp;{{item.position}}  {{item.date_from}} - {{item.date_to}}</button> 
            </div>
        </div>
        
        <h4 class="really">Extracurricular Activities and Leadership Positions</h4>
                <button class="button button-icon icon ion-plus-circled"
                        ng-click="showAddData(2)"> Add</button>
        
        <p><b>In order of importance to you</b>, list your top six extracurricular activities (include band, clubs, affiliations, etc.) and the position(s) you held.  
            </p>
        <p>Please complete all questions or your application cannot be considered.  Financial information may be subject to verification from tax returns or other sources.  
        </p>

        <div class="list">
            <div class="item" ng-repeat="item in myactivities" 
                 item="item"
                 >
                <button title="Delete" class="button button-icon icon ion-minus-circled"
                        ng-click="deleteData(item.id, 2)"></button>
                <button title="Edit" class="button button-icon icon ion-compose"
                        ng-click="editData(item, 2)"> &nbsp;&nbsp;&nbsp;&nbsp;{{item.organization}}  {{item.postion}} {{item.description}} </button> 
            </div>
        </div>
        
        <!-- Next button -->
        <div class="row">
            <div class="col col-25 col-offset-75">
                <a type="button" class="button button-block button-positive" ui-sref="tabs.myapplication.college_plans">Next</a>
            </div>
        </div>
  </ion-content>
</ion-view>