<!-- 
  Essay upload page page.
-->
<ion-view title="Terry Scholarship Application 2015/2016">
    
    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round"
                ng-click="toggleRight()" ></button>
    </ion-nav-buttons>
    
    <ion-content padding="true">
        <div>
            <input type="file" ng-file-select="onFileSelect($files)">
            <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">
            <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
            <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function" ng-show="dropSupported">drop files here</div>
            <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
            <button class="button button-positive" ng-click="upload.abort()">Cancel Upload</button>
        </div>
    </ion-content>
</ion-view>