<!DOCTYPE html>
<!-- 
  Essay upload page page.
-->
<ion-view title="Terry Scholarship Application 2015/2016">

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Essays</h1>
    </ion-header-bar>
    <ion-content>

        <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
            For <u>BOTH</u> of the topics listed below, attach a typed essay of 250 words (minimum) in PDF or MS Word format. Your full name and UH ID should appear legibly at the top of each page of your essays.
        </p>

        <div class="list">

            <div class="item item-divider">
                Essay I: Significant Event and its Impact
            </div>

            <p class="item item-text-wrap">
                Describe a significant setback, challenge or opportunity in your life and the impact that it has had on you.
            </p>



            <div class="list card">

                <label for="file1" class="item item-icon-right fileContainer">
                    <i class="icon ion-filing"></i>
                    Upload Essay I
                    <input id="file1" type="file" ng-file-select="onFileSelect($files, 'essay1')" onclick="this.value=null" accept="application/pdf, .doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                </label>

                <div class="item" ng-show="selectedFiles != null">
                    <div class="sel-file" ng-repeat="f in selectedFiles">
                        <label>Progress:</label>
                        <span class="progress" ng-show="progress[$index] >= 0">						
					<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
				</span>	
                        <button class="button button-small button-positive" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Cancel Upload</button>
                        {{f.name}} - size: {{f.size}}B
                    </div>
                </div>
            </div>

            <div class="item item-divider">
                Essay II: Leadership Experience
            </div>

            <p class="item">
                Describe an example of your leadership. Be sure to describe your actions and the actions of those around you and to explain what you accomplished.
            </p>

            <div class="list card">

                <label for="file2" class="item item-icon-right fileContainer">
                    <i class="icon ion-filing"></i>
                    Upload Essay II
                    <input id="file2" type="file" ng-file-select="onFileSelect($files, 'essay2')" onclick="this.value=null" accept="application/pdf, .doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                </label>

                <div class="item" ng-show="selectedFiles != null">
                    <div class="sel-file" ng-repeat="f in selectedFiles">
                        <label>Progress:</label>
                        <span class="progress" ng-show="progress[$index] >= 0">						
					<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
				</span>	
                        <button class="button button-small button-positive" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Cancel Upload</button>
                        {{f.name}} - size: {{f.size}}B
                    </div>
                </div>
            </div>
        </div>

        <!-- Next button -->
        <div class="row">
            <div class="col col-25 col-offset-75">
                <a type="button" class="button button-block button-positive" ui-sref="tabs.myapplication.submit">Next</a>
            </div>
        </div>
    </ion-content>
</ion-view>