<ion-view title="Terry Scholarship Application 2015/2016"> 

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round"
                ng-click="toggleRight()" ></button>
    </ion-nav-buttons>
    
    <ion-content padding="true">
        <h3>High School Information</h3>
        
        <form class="submit" ng-submit="save()" novalidate>            

            <div class="row">
                <div class="col"><label class="item item-input item-stacked-label"> <span class="input-label">High School Name:</span> 
                    <input type="text" ng-model="myapplication.highschool_name" placeholder="Highschool name"></label></div>
                <div class="col"><label class="item item-input item-stacked-label"> <span class="input-label">High School City/ST:</span> 
                    <input type="text" ng-model="myapplication.highschool_city" placeholder="City"></label></div>                
            </div>

            <div class="row">
                <div class="col"><label class="item item-input item-stacked-label"> <span class="input-label">Your High School Counselor:</span> 
                    <input type="text" ng-model="myapplication.highschool_councelor" placeholder="Name"></label></div>
                <div class="col"><label class="item item-input item-stacked-label"> <span class="input-label">School Phone/Ext.:</span> 
                    <input type="text" ng-model="myapplication.highschool_phone" placeholder="xxx-xxx-xxxx"></label></div>                            
            </div>
            <div class="row">
                <div class="col"><label class="item item-input item-stacked-label"> <span class="input-label">Your High School Counselor's Email Address:</span>           <input type="email" ng-model="myapplication.highschool_councelor_email" placeholder="email"></label></div>                            
            </div>

            <div class="row">
                <div class="col"><label class="item item-input item-stacked-label"> <span class="input-label">High School GPA:</span> 
                    <input type="text" ng-model="myapplication.highschool_gpa" placeholder="gpa"></label></div>
                <div class="col"><label class="item item-input item-stacked-label"> <span class="input-label">Scale:</span> 
                    <input type="text" ng-model="myapplication.highschool_scale" placeholder="scale"></label></div>
                <div class="col"><label class="item item-input item-stacked-label"> <span class="input-label">Graduation Date:</span> 
                    <input type="text" ng-model="myapplication.highschool_graduation_date" placeholder="MM/DD/YYYY"></label></div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label class="item item-input"> 
                        <span class=" small-input-label input-label">Class Rank:</span> 
                        <input class="small-input-label" type="text" ng-model="myapplication.highschool_rank" placeholder="#">
                        <span class="small-input-label input-label">out off</span> 
                        <input class="small-input-label" type="text" ng-model="myapplication.highschool_rank_out" placeholder="#">
                        <span>&nbsp;students</span></label>
                </div>
                <div class="col">
                    <label class="item item-input"> <span class="input-label">Number of students tied for this rank:</span> 
                    <input type="text" ng-model="myapplication.highschool_rank_tied" placeholder="#"></label></div> 
                
            </div>
            
            <div class="row">
                <div class="col">
                    <h4>Test Scores</h4></div>
            </div>
            
            <div class="row">
                <div class="col"><label class="item item-input item-stacked-label"> <span class="input-label">PSAT Verbal:</span> 
                    <input type="text" ng-model="myapplication.highschool_gpa" placeholder="gpa"></label></div>
                <div class="col"><label class="item item-input item-stacked-label"> <span class="input-label">Scale:</span> 
                    <input type="text" ng-model="myapplication.highschool_scale" placeholder="scale"></label></div>
                <div class="col"><label class="item item-input" ng-click="openDatePicker()">
                    <span class="input-label">Graduation Date:</span> 
                    <input type="text" ng-model="myapplication.highschool_graduation_date" placeholder="Select"></label></div>
                
                
            </div>
            
            
            <!-- Submit button -->
            <div class="row">
                <div class="col col-25 col-offset-75"><button type="submit" class="button button-block button-positive">Save</button></div>


            </div>
        </form>
    </ion-content>
</ion-view>