<ion-view title='<img class="title-image" src="img/honors_logo.png" /> <h4>Terry Scholarship Application 2015/2016</h4>'> 

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round"
                ng-click="toggleRight()" ></button>
    </ion-nav-buttons>

    <ion-content padding="true">  
        <h4>High School Coursework</h4>

        <div class="row">
            <div class="col"><h4 class="really">Sophomore Level Coursework</h4>
                <button class="button button-icon icon ion-plus-circled"
                        ng-click="showAddCourse(1)"> Add Course</button>
            </div>  
        </div>

        
                <ion-list show-delete="true" can-swipe="true">
                    <ion-item ng-repeat="course in mycourses | filter: {level:'sophomore'}" >
                        <button class="button button-icon ion-compose"
                                            ng-click="editCourse(course)">
                        </button>
                        {{course.name}} {{course.grade}}
                        <ion-delete-button class="ion-minus-circled" 
                                           ng-click="deleteCourse(course.id)">
                        </ion-delete-button>
                        

                    </ion-item> 
                </ion-list>
            

        <div class="row">
            <div class="col"><h4 class="really">Junior Level Coursework</h4>
            <button class="button button-icon icon ion-plus-circled"
                        ng-click="showAddCourse(2)"> Add Course</button></div>                
        </div>

        <div class="row">
            <div class="col">
                <ion-list show-delete="data.showDelete">
                    <ion-item ng-repeat="course in mycourses | filter: {level:'junior'}" type="item-text-wrap"
                              >
                        {{course.name}} {{course.grade}}
                        <ion-delete-button class="ion-minus-circled"
                                           ng-click="deleteCourse(course.id)"> </ion-delete-button> 
                    </ion-item> 
                </ion-list>
            </div>                
        </div>

        <div class="row">
            <div class="col"><h4 class="really">Senior Level Coursework</h4>
            <button class="button button-icon icon ion-plus-circled"
                        ng-click="showAddCourse(3)"> Add Course</button>
            </div>                
        </div>

        <div class="row">
            <div class="col">
                <ion-list show-delete="data.showDelete">
                    <ion-item ng-repeat="course in mycourses | filter: {level:'senior'}" type="item-text-wrap"
                              >
                        {{course.name}} {{course.grade}}
                        <ion-delete-button class="ion-minus-circled"
                                           ng-click="deleteCourse(course.id)"> </ion-delete-button> 
                    </ion-item> 
                </ion-list>
            </div>                
        </div>
    </ion-content>

    <script id="modal_addCoursework.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">Add Coursework</h1>
                <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
            <ion-content>
                <div class="padding">
                    <div class="row">
                        <div class="col">
			                 <label class="item item-input">
                                <span class="input-label">Description/Name:</span>
                                <input ng-model="mycourse.name" type="text" placeholder="description">
        </label>
        </div>
        </div>
                    <div class="row">
                        <div class="col">
                            <label class="item item-input item-select">
                                <span class="input-label">Type:</span>
                                <select ng-model="myCourseType" 
                                    ng-options="type.name for type in course_types"> 
        </select>
        </label>
        </div>


                    <div class="col">

                        <label class="item item-input">
                            <span class="input-label">Credit Hours:</span>
                            <input ng-model="mycourse.credit_hours" type="text" placeholder="credit hours">
        </label>
        </div>
                <div class="col">
                        <label class="item item-input">
                            <span class="input-label">Final Grade:</span>
                            <input ng-model="mycourse.final_grade" type="text" placeholder="grade">
        </label>
        </div>
        </div>
            <div class="row">
                <div class="col">
                        <button class="button button-full button-positive" ng-click="addCourse()">Add</button>
        </div>
        </div>
        </div>
        </ion-content>
        </ion-modal-view>
    </script>

</ion-view>

