<ion-view title="Terry Scholarship Application 2015"> 
    
    <ion-content has-header="true" padding="true">
        
        <ion-side-menu side="left">
    <ion-header-bar>
        <button class="button button-icon button-clear ion-navicon-round">
      </button>
    </ion-header-bar>
    <ion-content scroll="false">
      <ion-list>
        <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}">
          {{project.title}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

<div class="list">
	<label class="item item-input item-stacked-label"> <span
		class="input-label">First Name</span> <input type="text"
		ng-model="myapplication.firstName">
	</label> <label class="item item-input item-stacked-label"> <span
		class="input-label">Last Name</span> <input type="text"
		ng-model="user.lastName">
	</label> <label class="item item-input item-stacked-label"> <span
		class="input-label">Email</span> <input type="text"
		ng-model="user.email">
	</label>
</div>

</ion-content>
     </ion-view>
