<ion-view title="Honors College Terry Application"> 
        <ion-content>
          <div class="list list-inset">
              
              <form class="submit" ng-submit="submit()">
            <input class="log" type="text" ng-model="signin.userName" name="userName" placeholder="USERNAME"/>
            <input class="log" type="password" ng-model="signin.passWord" name="passWord" placeholder="PASSWORD"/>
            <input class="log" type="submit" value="Submit" id="submit">
            <p id="register"><a ui-sref="register">REGISTER HERE</a></p>
        </form>
            
        </ion-content>
      </ion-view>