<!DOCTYPE html>

<!-- 
  Submission page.
-->
<!-- The nav bar that will be updated as we navigate between views.-->

<ion-view title="Terry Scholarship Application 2015/2016">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Submit Your Application</h1>
    </ion-header-bar>
    <ion-content>

        <div class="item item-divider">APPLICATION DEADLINES</div>
        <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
            You must complete this area prior to submitting your Terry application.
        </p>
        <form name="submitform" on-valid-submit="submit()">

            <div class="row">

                <div class="col">
                    <h4>Application Component</h4> 
                </div>
                <div class="col">
                    <h4>Deadline</h4> 
                </div>
                <div class="col">
                    <h4>Method of application</h4> (online or US mail)
                </div>
                <div class="col">
                    <h4>Date Submitted</h4> 
                </div>
                <div class="col">
                    <h4>If not, anticipated date of submission</h4> 
                </div>
            </div>
            <div class="row">
                <ion-scroll class="col scroll-col">
                    <ul class="list">
                        <li class="item item item-text-wrap">Apply and be accepted to the University of Houston</li>
                        <li class="item item-text-wrap">
                        Submit your completed Terry application, essays and letters of recommendation. Include a sealed official copy of your high school transcript in addition to any transcript sent to UH or The Honors College
                    </div>
                    
                </div>
                <div class="col">
                    <div class="item">
                        <b>No later than February 7th. </b> 
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        
                        <input type="text" ng-model="myapplication.app_uh_method" placeholder="method">
                    </label>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        date
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        date
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    
                </div>
                <div class="col">
                    <div class="item">
                        <b>No later than February 7th. </b> 
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        method
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        date
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        date
                    </div>
                </div>
            </div>
        
        <div class="row">

        
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
          </ul>
        </ion-scroll>
        <ion-scroll class="col scroll-col">
          <ul class="list">
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
          </ul>
        </ion-scroll>
        <ion-scroll class="col scroll-col">
          <ul class="list">
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
            <li class="item">item</li>
          </ul>
        </ion-scroll>
            </div>

        </form>
    </ion-content>
</ion-view>