<ion-view title="My Applications">
    <ion-content> 
        <button class="button button-icon icon ion-minus-circled"
                ng-click="data.showDelete = !data.showDelete"> Delete Application</button>
        <button class="button button-icon icon ion-plus-circled"
                ng-click="modal.show()"> Create Application</button>
        
        <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="myapplication in myapplications" type="item-text-wrap"
                      ui-sref="tabs.myapplication.student_information({ applicationId: myapplication.id })">
                {{myapplication.name}} {{myapplication.id}}
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="deleteApplication(myapplication.id)"> </ion-delete-button> 
            </ion-item> 
        </ion-list> 
    </ion-content>
</ion-view>
