<ion-view title="My Applications">
    <ion-content class="has-header">

        <div class="buttons">
	       <button class="button button-icon icon ion-ios7-minus-outline"
		          ng-click="data.showDelete = !data.showDelete"></button>
	       <button class="button button-icon icon ion-compose"
		          ng-click="modal.show()"></button>
        </div>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="application in myapplications" type="item-text-wrap"
	                           href="#/tabs/terry/{{terry.id}}">
                                {{application.name}} {{application.creation_timestamp}}
                    <ion-delete-button class="ion-minus-circled"
	               ng-click="deleteApplication(application.id)"> </ion-delete-button> 
	</ion-item> 
	</ion-list> 
	</ion-content> 
	<script
	id="modal.html" type="text/ng-template">
      <div class="modal" ng-controller="ModalCtrl">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Create New Terry Foundation Scholarship Applicationv</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content>
          <div class="padding">
            <div class="list">
			<label class="item item-input">
                <span class="input-label">UH ID</span>
                <input ng-model="currentApplication.uhid" type="text">
              </label> 
              
              <label class="item item-input">
                <span class="input-label">First Name</span>
                <input ng-model="currentApplication.First" type="text">
              </label> 
              <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input ng-model="currentApplication.Last" type="text">
              </label> 
                          
              
              <button class="button button-full button-positive" ng-click="createApplication()">Create</button>
            </div>
          </div>
        </ion-content>
      </div>
    </script>
  
</ion-view>
