<!DOCTYPE html>
<ion-view>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">High School Coursework</h1>
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-header-bar>
    <ion-content>
        
        <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
                Please fill out all sections provided. Use the "Add" button in each section to add individual courses to the lists. 
            </p>
        
        <div class="item item-button-left dark">
            Sophomore Level Coursework
            <span style="color: red;">*</span>
            <button title="Add course" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('coursework', null, 'sophomore')"></button>
        </div>

        <div class="list">
            <div class="item" ng-repeat="course in listings.coursework | filter: {level:'sophomore'}" item="course">
                <button title="Delete Course" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('coursework', course.id)"></button>
                <button title="Edit Course" class="button button-icon icon ion-compose" ng-click="editData('coursework', course)">&nbsp;&nbsp;&nbsp;&nbsp;{{course.name}} {{course.type}} {{course.credit_hours}} {{course.final_grade}}</button>
            </div>
        </div>
        
        <div class="item item-button-left dark">
            Junior Level Coursework
            <span style="color: red;">*</span>
            <button title="Add course" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('coursework', null, 'junior')"></button>
        </div>

        <div class="list">
            <div class="item" ng-repeat="course in mycourses | filter: {level:'junior'}" item="course">
                <button title="Delete Course" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('coursework', course.id)"></button>
                <button title="Edit Course" class="button button-icon icon ion-compose" ng-click="editData('coursework', course)">&nbsp;&nbsp;&nbsp;&nbsp;{{course.name}} {{course.type}} {{course.credit_hours}} {{course.final_grade}}</button>
            </div>
        </div>

        <div class="item item-button-left dark">
            Senior Level Coursework
            <span style="color: red;">*</span>
            <button title="Add course" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('coursework', null, 'senior')"></button>
        </div>

        <div class="list">
            <div class="item" ng-repeat="course in mycourses | filter: {level:'senior'}" item="course">
                <button title="Delete Course" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('coursework', course.id)"></button>
                <button title="Edit Course" class="button button-icon icon ion-compose" ng-click="editData('coursework', course)">&nbsp;&nbsp;&nbsp;&nbsp;{{course.name}} {{course.type}} {{course.credit_hours}} {{course.final_grade}}</button>
            </div>
        </div>

        <!-- Next button -->
            <div class="row">
                <div class="col col-25 col-offset-75">
                    <button type="button" class="button button-block button-positive" ng-click="next()">Next</button>
                </div>
            </div>
    </ion-content>
</ion-view>

