<!DOCTYPE html>
<ion-view>
    
    <ion-header-bar class="bar-subheader">
        <h1 class="title">Student Information</h1>
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-header-bar>

    <ion-content>

        <form name="student_information" novalidate class="submit" on-valid-submit="save()">
            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Last Name:<span style="color: red;">*</span></span>
                        <input name="last_name" type="text" ng-model="myapplication.last_name" ng-maxlength="40" placeholder="Lastname">
                    </label>
                    <div class="item item-icon-left" ng-show="student_information.last_name.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 40 characters allowed</span>
                    </div>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">First Name:<span style="color: red;">*</span></span> 
                        <input name="first_name" type="text" ng-model="myapplication.first_name" ng-maxlength="40" placeholder="Firstname">
                    </label>
                    <div class="item item-icon-left" ng-show="student_information.first_name.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 40 characters allowed</span>
                    </div>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label" validated>
                        <span class="input-label">Middle Name:</span> 
                        <input name="middle_name" type="text" ng-model="myapplication.middle_name" ng-maxlength="40" placeholder="Middlename">
                    </label>
                    <div class="item item-icon-left" ng-show="student_information.middle_name.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 40 characters allowed</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Preferred Name:</span> 
                        <input name="preferred_name" type="text" ng-model="myapplication.preferred_name" ng-maxlength="40" placeholder="Preferredname">
                    </label>
                    <div class="item item-icon-left" ng-show="student_information.preferred_name.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 40 characters allowed</span>
                    </div>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">UH ID:<span style="color: red;">*</span></span> 
                        <input name="uh_id" type="text" ng-model="myapplication.uh_id" placeholder="0123456">
                    </label>
                    <div class="item item-icon-left" ng-show="student_information.uh_id.$error.number">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Input must be a number</span>
                    </div>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">SSN: <span style="color: red;">*</span></span> 
                        <input name="ssn" type="text" ng-model="myapplication.ssn" ui-mask="{{'999-99-9999'}}">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Permanent Address:<span style="color: red;">*</span></span> 
                        <input name="permanent_address" type="text" ng-model="myapplication.permanent_address" ng-maxlength="40" placeholder="Streetaddress">
                        <div class="item item-icon-left" ng-show="student_information.permanent_address.$error.maxlength">
                            <i class="icon ion-alert-circled error"></i>
                            <span>Max 40 characters allowed</span>
                        </div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">City:<span style="color: red;">*</span></span> 
                        <input name="city" type="text" ng-model="myapplication.city" ng-maxlength="40" placeholder="City" >
                    </label>
                    <div class="item item-icon-left" ng-show="student_information.city.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 40 characters allowed</span>
                    </div>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <span class="input-label">State:<span style="color: red;">*</span></span>
                        <select ng-model="myapplication.state" ng-options="state.name as state.abbreviation for state in states">
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Zip Code:<span style="color: red;">*</span></span> 
                        <input type="text" ng-model="myapplication.zip_code" ui-mask="{{'99999'}}">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">County:<span style="color: red;">*</span></span> 
                        <input name="county" type="text" ng-model="myapplication.county" ng-maxlength="40" placeholder="County">
                    </label>
                    <div class="item item-icon-left" ng-show="student_information.county.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 40 characters allowed</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Home Phone:<span style="color: red;">*</span></span>
                        <input ng-model="myapplication.home_phone" ui-mask="{{'(999) 999-9999'}}" type="text"/>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Alternate/Cell Phone:</span>
                        <input ng-model="myapplication.alt_cell_phone" ui-mask="{{'(999) 999-9999'}}" type="text"/>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated" ng-click="openDatePicker('Date of Birth', 'dob')">
                        <span class="input-label">Date of Birth:<span style="color: red;">*</span></span> 
                        <input type="text" ng-model="myapplication.dob" placeholder="Select">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Gender:<span style="color: red;">*</span></span>
                        <ion-radio name="gender" ng-model="myapplication.gender" ng-value="'Female'">Female</ion-radio>
                        <ion-radio name="gender" ng-model="myapplication.gender" ng-value="'Male'">Male</ion-radio>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input validated">
                        <span class="input-label">Email Address:<span style="color: red;">*</span></span> 
                        <input name="email" type="email" ng-model="myapplication.email" ng-maxlength="40" placeholder="email address">
                    </label>
                    <div class="item item-icon-left" ng-show="student_information.email.$error.email">
                        <i class="icon ion-alert-circled error"></i>
                        <span>This doens't seem to be an email address.</span>
                    </div>
                    <div class="item item-icon-left" ng-show="student_information.email.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 40 characters allowed</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">U.S. Citizen:<span style="color: red;">*</span></span>
                        <ion-radio name="citizen" ng-model="myapplication.citizen" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="citizen" ng-model="myapplication.citizen" ng-value="'false'">No</ion-radio>
                    </label>
                </div>

                <div class="col" ng-hide="myapplication.citizen">
                    <label class="item item-input"> <span class="input-label">Permanent Resident:<span style="color: red;">*</span></span>
                        <ion-radio name="permanent_resident" ng-model="myapplication.permanent_resident" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="permanent_resident" ng-model="myapplication.permanent_resident" ng-value="'false'">No</ion-radio>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col" ng-show="myapplication.permanent_resident">
                    <label class="item "> <span class="input-label">Permanent Resident Type of Card:<span style="color: red;">*</span></span>
                        <ion-radio name="permanent_resident_card" ng-model="myapplication.permanent_resident_card" ng-value="'true'">1551</ion-radio>
                        <ion-radio name="permanent_resident_card" ng-model="myapplication.permanent_resident_card" ng-value="'false'">1551C</ion-radio>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Texas Resident:<span style="color: red;">*</span></span>
                        <ion-radio name="texas_resident" ng-model="myapplication.texas_resident" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="texas_resident" ng-model="myapplication.texas_resident" ng-value="'false'">No</ion-radio>
                    </label>

                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Birthplace:<span style="color: red;">*</span></span> 
                        <input name="birthplace" type="text" ng-model="myapplication.birthplace" ng-maxlength="40" placeholder="birthplace">
                    </label>
                    <div class="item item-icon-left" ng-show="student_information.birthplace.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 40 characters allowed</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Ethnic Background:<span style="color: red;">*</span></span> 
                        <input name="ethnic_background" type="text" ng-model="myapplication.ethnic_background" ng-maxlength="100" placeholder="How do you describe yourself?">
                    </label>
                    <div class="item item-icon-left" ng-show="student_information.ethnic_background.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 100 characters allowed</span>
                    </div>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Anticipated College Major:<span style="color: red;">*</span></span> 
                        <input name="anticipated_major" type="text" ng-model="myapplication.anticipated_major" ng-maxlength="100" placeholder="Major">
                    </label>
                    <div class="item item-icon-left" ng-show="student_information.anticipated_major.$error.maxlength">
                        <i class="icon ion-alert-circled error"></i>
                        <span>Max 100 characters allowed</span>
                    </div>
                </div>
            </div>
            <!-- Next/Save button -->
            <div class="row">
                <div class="col col-25 col-offset-50">
                    <button type="submit" class="button button-block button-positive">Save to Server</button>
                </div>
                <div class="col col-25">
                    <button type="button" class="button button-block button-positive" ng-click="next()">Next</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>