<ion-view title="Volunteer Management App">
    <ion-content>
        <ul class="list">
            <li>
                <a class="item" menu-close nav-clear ui-sref="tabs.myapplication.student_information"> I. Student Information</a>
            </li>
            <li>
                <a class="item" menu-close nav-clear ui-sref="tabs.myapplication.highschool_information">II. High School Information</a>
            </li>
            <li>
                <a class="item" menu-close nav-clear ui-sref="tabs.myapplication.highschool_coursework">III. High School Coursework</a>
            </li>
            <li>
                <a class="item" menu-close nav-clear ui-sref="tabs.myapplication.employment">IV. Employment</a>
            </li>
            <li>
                <a class="item" menu-close nav-clear ui-sref="tabs.myapplication.college_plans">V. College Plans</a>
            </li>
            <li>
                <a class="item" menu-close nav-clear ui-sref="tabs.myapplication.financial_information">VI. Financial Information</a>
            </li>
            <li>
                <a class="item item-text-wrap" menu-close nav-clear ui-sref="tabs.myapplication.scholarship_information">VII. University Scholarship Information</a>
            </li>
            <li>
                <a class="item" menu-close nav-clear ui-sref="tabs.myapplication.essays">VIII. Essays</a>
            </li>
            <li>
                <a class="item" menu-close nav-clear ui-sref="tabs.myapplication.submit">Submission</a>
            </li>
        </ul>
    </ion-content>
</ion-view>